---
title: Barry Centre
---

<h2 class="text-center">Display a barycentre</h2>
<div class="main-container">
<div class="form-container">
<form id="main-form">
<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="form-group">
      <input type="text" class="form-control special" placeholder="Enter address">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="form-group">
      <input type="text" class="form-control special" placeholder="Enter address">
    </div>
  </div>
</div>
</form>
  <button type="submit" class="btn btn-default" id="field-generator">Add an address</button>
  <button type="submit" class="btn btn-primary" id="map-calculator">Calculate</button>

</div>
  <div class="map-container">
    <div style='width: 1000px'>
      <div id="map" style='width: 1000px; height: 500px;'></div>
    </div>
  </div>
</div>

<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//acasi.us16.list-manage.com/subscribe/post?u=25180ff3aadd6f6f47b8d0b9f&amp;id=5933f41259" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
  <label for="mce-EMAIL">Subscribe to our mailing list</label>
  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_25180ff3aadd6f6f47b8d0b9f_5933f41259" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->

<script>

var geocoder = new google.maps.Geocoder();
var latbar = 0;
var lngbar = 0;
var address = document.getElementsByClassName('special');
const generator = document.getElementById("field-generator");
const calculator = document.getElementById("map-calculator");
const form = document.getElementById("main-form");
const item = `<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="form-group">
      <input type="text" class="form-control special" placeholder="Enter address">
    </div>
  </div>
</div>`;
generator.addEventListener("click", (event) => {
  if (address.length < 8) {
    form.insertAdjacentHTML("beforeend", item);
    event.preventDefault();
    autoSearch();
    addMarker(address.length - 1);
  } else {
    alert("Sorry, no more than 8 addresses may be displayed!");
  }
});

function autoSearch() {

  for(var i=0; i< 8; i++){

    if (address[i]) {
      var autocomplete = new google.maps.places.Autocomplete(address[i], { types: ['geocode'] });
      google.maps.event.addDomListener(address[i], 'keydown', function(e) {
        if (e.keyCode == 13) {
          e.preventDefault(); // Do not submit the form on Enter.
        }
      });
    }
  }
}

autoSearch();

handler = Gmaps.build('Google');
handler.buildMap({ provider: {zoom: 2}, internal: {id: 'map'}}, function(){
  handler.fitMapToBounds();
});

function addMarker(n) {
  address[n].addEventListener("change", (event) => {
    geocoder.geocode( { "address": address[n].value }, function(results, status) {
      markers = handler.addMarkers([
        {"lat": results[0].geometry.location.lat(),
         "lng": results[0].geometry.location.lng(),
         "infowindow": address[n].value
        }
      ]);
    });
  });
}

addMarker(0);
addMarker(1);

function barycentre() {
  array = [0, 0];
  for(var i=0; i< address.length; i++) {
    geocoder.geocode( { "address": address[i].value }, function(results, status) {
      array[0] += results[0].geometry.location.lat();
      array[1] += results[0].geometry.location.lng();
      if (i == address.length - 1) {
        bary = handler.addMarkers([
          {"lat": array[0]/(i+1),
           "lng": array[1]/(i+1)
          }
        ]);
      }
    });
  }
}


calculator.addEventListener("click", (event) => {
  barycentre()
});

</script>
