---
title: Barry Centre
---

<h2 class="text-center">Display a barycentre</h2>
<div class="main-container">
<div class="form-container">
<form id="main-form">
<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="form-group">
      <input type="text" class="form-control special" placeholder="Enter address">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="form-group">
      <input type="text" class="form-control special" placeholder="Enter address">
    </div>
  </div>
</div>
</form>
  <button type="submit" class="btn btn-default" id="field-generator">Add an address</button>
  <button type="submit" class="btn btn-primary" id="map-calculator">Calculate</button>

</div>
  <div class="map-container">
    <div style='width: 1000px'>
      <div id="map" style='width: 1000px; height: 500px;'></div>
    </div>
  </div>
</div>

<script>

var geocoder = new google.maps.Geocoder();
var latbar = 0;
var lngbar = 0;
var address = document.getElementsByClassName('special');
const generator = document.getElementById("field-generator");
const calculator = document.getElementById("map-calculator");
const form = document.getElementById("main-form");
const item = `<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="form-group">
      <input type="text" class="form-control special" placeholder="Enter address">
    </div>
  </div>
</div>`;
generator.addEventListener("click", (event) => {
  if (address.length < 8) {
    form.insertAdjacentHTML("beforeend", item);
    event.preventDefault();
    autoSearch();
  } else {
    alert("Sorry, no more than 8 addresses may be displayed!");
  }
});

function autoSearch() {

  for(var i=0; i< 8; i++){

    if (address[i]) {
      var autocomplete = new google.maps.places.Autocomplete(address[i], { types: ['geocode'] });
      google.maps.event.addDomListener(address[i], 'keydown', function(e) {
        if (e.keyCode == 13) {
          e.preventDefault(); // Do not submit the form on Enter.
        }
      });
    }
  }
}

autoSearch();

handler = Gmaps.build('Google');
handler.buildMap({ provider: {zoom: 2}, internal: {id: 'map'}}, function(){
  handler.fitMapToBounds();
});

calculator.addEventListener("click", (event) => {
  for(var i=0; i< address.length; i++){
    geocoder.geocode( { "address": address[i].value }, function(results, status) {
      latbar += results[0].geometry.location.lat();
      lngbar += results[0].geometry.location.lng();
      markers = handler.addMarkers([
        {"lat": results[0].geometry.location.lat(),
         "lng": results[0].geometry.location.lng()
        }
      ]);
    });
  }
  bary = handler.addMarker([
    {"lat": 0,
     "lng": 0
    }
  ]);
});

</script>

<!-- {lat: results[0].geometry.location.lat(), lng: results[0].geometry.location.lng()} -->
